*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* mobile */
.film-img {
  height: 356px;
  margin-bottom: 15px;
  margin-top: 16px;
}

.film-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 30px;
}

.film-properties {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px; /*перемерять для Vote и Popularity */
  margin-bottom: 20px;
}

.properties {
  color: #8c8c8c;
  margin-right: 41px;
}

.properties li:not(:last-child),
.property-value li:not(:last-child) {
  margin-bottom: 10px;
}

.film-origin-title {
  text-transform: uppercase;
}

.film-about {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
}

.film-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 21px;
}

.buttons {
  display: flex;
}

.buttons button {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  /* text-align: center; */
  line-height: 16px;
  width: 112px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 7px;
  padding-right: 7px;
  /* max-height: 44px; */
}

.add-watched_button {
  margin-right: 15px;
}

.buttons button:hover,
.buttons button:focus {
  background-color: #ff6b01;
  border: 1px solid #ff6b01;
}

/* tablet */
@media screen and (min-width: 768px) {
  .film {
    display: flex;
  }

  .left-side {
    margin-right: 32px;
  }

  .film-img {
    height: 374px;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  .left-side {
    margin-right: 30px;
  }

  .film-img {
    height: 478px;
  }

  .film-name {
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
}

/* gallery */
.film-list_info {
  display: flex;
}

/* <!-- Модалка --> */
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  min-height: 958px;
  padding: 20px 20px 40px 20px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.modal-icon {
  display: block;
}
